* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.slide {
  display: flex;
  gap: 4.5rem;
  margin: 1rem;
  align-items: center;
}
.btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  height: 50px;
}
.slide img {
  width: 400px;
  height: 425px;
  object-fit: cover;
}
